<div class="cardPlay">
	<div class="cover">
		<a href="{{{this.url}}}" ><img src="{{{this.pic}}}"></a>
	</div>
	<div class="songInfo">
		<a class="text-ellipsis" href="{{{this.url}}}"><strong>{{this.name}}</strong></a>
		<a class="text-ellipsis" href="##">{{this.singer}}{{this.user}}</a>
	</div>
</div>