<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WYYX音乐小站</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css"> 
    {{/if}}
    {{#if comment}}
        <link rel="stylesheet" href="css/flexTextComment.css">
    {{/if}}
    <link rel="stylesheet" href="{{static '/css/main.css'}}">
    <link rel="stylesheet" href="{{static '/css/component.css'}}">
    <style>
    html,
    body {
        height: 100%;
    }
    </style>
</head>

<body>
    <header>
        <div class="logo"><a href="/"><img src="/img/logo.jpg" alt="Logo"></a></div>
        <div class="nav">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/sheet">发现</a></li>
                <li><a href="/message" id="comment">圈子</a></li>
                <li><a href="/about">关于</a></li>
            </ul>
        </div>
        <div class="nav mine">
            <ul>
                <li><span class="erroText erroAuth"></span></li>
                <li><a href="/" id="account" >{{user.name}}</a></li>
                <li><a href="/"><img src="/img/avatar.jpg" alt="face"></a></li>
            </ul>
        </div>
    </header>
    {{{body}}}
    <footer>
        <div class="codePicInfo">
            <div class="qrcode"><img src="/img/qrcode.png" alt=""></div>
            <div class="description"><h2>App下载</h2></div>
        </div>
        <div class="codePicInfo">
            <div class="qrcode"><img src="/img/qrcode.png" alt=""></div>
            <div class="description"><h2>交流</h2></div>
        </div>
        <div class="statement">
            <ul>
                <li><a href="/about">关于我们</a></li>
                <li><a href="/contact">联系我们</a></li>
                <li><a href="">用户协议</a></li>
                <li>邮箱：<a href=mailto:sample@163.com>sample@163.com</a></li>
                <li>电话：8888888</li>
            </ul>
            <p style="clear: both;line-height: 50px;vertical-align: bottom">Copyright©2018 Created by Gensoukyo!All Rights Reserved</p>
        </div>
    </footer>
    {{#if showTests}}
        <div id="mocha"></div>
        <script src="/vendor/mocha.js"></script>
        <script src="/vendor/chai.js"></script>
        <script>
            mocha.ui('tdd');
            var assert = chai.assert;
        </script>
        <script src="/qa/tests-global.js"></script>
        {{#if pageTestScript}}
            <script src="{{pageTestScript}}"></script>
        {{/if}}
        <script>
            mocha.run();
        </script>
    {{/if}} 
    {{{_sections.boardscript}}}
</body>

</html>